.container {
  width: 600px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  position: relative;
}

.positions {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  height: 65vh;
}

.positions::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}
 
.positions::-webkit-scrollbar-thumb {
  background: #8585AD; 
}

.sum {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 16px;
}

.sum svg {
  width: 32px;
  height: 32px;
}
