.container {
  width: 600px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  position: relative;
}

.positions {
  display: flex;
  flex-direction: column;
}

.sum {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 16px;
}
