.main {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  align-items: center;
  align-self: center;
  height: calc(100% - 168px);
}

.constructorTitle {
  align-self: start;;
}

.constructor {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin: 0 auto;
  overflow: hidden;
}