.image {
  align-self: center;
}

.priceBlock {
  display: flex;
  flex-direction: row;
}


.block {
  display: flex;
  flex-direction: column;
  width: 272px;
  align-items: center;
  position: relative;
}

.p {
  text-align: center;
}