.container {
  width: 600px;
}


.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.ingredients {
  max-height: 65vh;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: 10px;
}