.bg {
  margin: 40px;
  background-color: #1C1C21;
  height: 88px;
}

.logo {
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ul {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  justify-content: space-between;
}